body {
    background-color: #c0ffee;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.mini {
    font-size: small;
}

.cutoutItem {
    padding: 5px;
}

.editor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.svgContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.svgInner {
    max-width: 55%;
    margin-left: 5px;
}

.svgContainer #minGallery {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    height: calc(100% - 40px);
    background: rgba(128, 128, 128, 0.11);
}

.wide {
    width: 100%;
    text-align: left;
    display: flex;
}

.button {
    background: #69c;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #7bb5ef;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    padding: 5px 10px;
}

input[type="checkbox"]:checked + label {
    background-color: #324b64;
}


@media screen and (max-width: 980px) {
    .svgContainer {
        justify-content: center;
        padding: 10px 0;
        align-items: flex-start;
    }
    .svgContainer #minGallery {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .svgInner {
         max-width: initial;
    }
}
@media screen and (max-width: 550px) {
    .svgContainer #minGallery {
        flex-direction: column;
    }
}

canvas, svg {
    background-color: white; /*todo delete*/
}

.galleryItem {
    position: relative;
    overflow: hidden;
}

.cutout {
    position: absolute;
}


#gallery {
    width: 100%;
    margin-bottom: 20px;
}
